---
layout: base
---


<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
  <img src="assets/myphoto.jpeg" alt="Qi Zhan's Photo" width="200" class="profile" />
</div>

<section class="section summary-section">
  <h2 class="section-title">About Me</h2>
  <div class="summary">
      <p>I am a first-year PhD student at College of Computer Science and Technology, Zhejiang University. </p>

      I am very fortunate to work under the supervision of Prof. Shanping Li, <a href="https://xing-hu.github.io/">Prof. Xing Hu</a> and <a href="https://xin-xia.github.io/">Prof. Xin Xia</a>. 
      My research mainly focuses on software engineering and program analysis.
  </div>
</section>

<section class="section experiences-section">
  <h2 class="section-title">Education</h2>

      <div class="item">
          <div class="meta">
              <div class="upper-row">
                  <h3 class="job-title"> PhD in Computer Science, Advisor: Shanping Li, Co-supervisors: Xing Hu, Xin Xia </h3>
                  <div class="time">2023.09 - Present</div>
              </div>
              <div class="company">Zhejiang Univeristy, China</div>
          </div>
      </div>

      <div class="item">
          <div class="meta">
              <div class="upper-row">
                  <h3 class="job-title">Bachelor of Computer Science</h3>
                  <div class="time">2019.09 - 2023.06</div>
              </div>
              <div class="company">Zhejiang Univeristy, China</div>
          </div>
      </div>
</section>
