---
layout: base
---


<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
  <img src="assets/myphoto.jpeg" alt="Qi Zhan's Photo" width="200" class="profile" />
</div>

<section class="section summary-section">
  <h2 class="section-title">About Me</h2>
  <div class="summary">
      <p>I am a PhD student at school of software technology, Zhejiang University(ZJU). </p>
  
      <!-- <p>I got my Ph.D degree in July 2020 from School of Electronics Engineering and Computer Science (EECS), Peking University, China.  -->
          <!-- I was very fortunate to work under the supervision of Prof. Zhi Jin and Prof. Ge Li. -->
          <!-- My research mainly focuses on software engineering, such as AI for SE, mining software repositories, etc.</p> -->
  </div>
</section>

<section class="section experiences-section">
  <h2 class="section-title">Education & Employment</h2>

      <div class="item">
          <div class="meta">
              <div class="upper-row">
                  <h3 class="job-title"> PhD in Computer Science, Advisors: Shanping Li </h3>
                  <div class="time">2023.09 - Present</div>
              </div>
              <div class="company">Zhejiang Univeristy, China</div>
          </div>
      </div>

      <div class="item">
          <div class="meta">
              <div class="upper-row">
                  <h3 class="job-title"></h3>
                  <div class="time">2019.09 - 2023.06</div>
              </div>
              <div class="company">Zhejiang Univeristy, China</div>
          </div>
      </div>
</section>
